html,
body {
  height: 100%;
  width: 100%;
  background-color: #6951f0;
  color: white;
}

table {
  width: 100%;
  height: 100%;
  text-align: center;
}

.actual-ticket {
  background-color: #282828;
}

.number-actual-ticket {
  font-size: 80px;
}

.desk-actual-ticket {
  font-size: 45px;
}

.secondary-ticket {
  font-size: 25px;
}

#newTicket {
  font-size: 70px;
}
